<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="bootstrap.min.css"><link rel="stylesheet" href="loader.css"><script src="jquery-3.4.1.min.js"></script><script src="bootstrap.min.js"></script>
    	<script>$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError){alert(thrownError)});</script>
    	<script>$(document).ajaxStart(function(){$('body').addClass('loading');});</script>
    	<script>$(document).ajaxStop(function(){$('body').removeClass('loading');});</script>
    	<title>Cloud-Based Social Robotics</title>
    </head>

    <body>
    	<div class="container">
    		<div class="row">
    			<div class="col-4">
        			<?php echo $this->fetch('register.phtml'); ?>
        		</div>
        	</div>
        </div>

        <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="popupContent">
              </div>
            </div>
          </div>
        </div>
		
		<div class="loader"></div>
    </body>
</html>
